body{
	margin:0 auto; text-align:center;
}
#wrap{ width:auto; margin:0 auto; height:auto; }

#fb {
	margin: 0 auto;
  	width:auto;
  	height:380px;
	background-color:#151515;
}

#headdiv{
	width:100%;
	height:auto;
	padding:1px;
	background-color:#222222;
}
h1{
	font-family: 'Shadows Into Light', cursive;
	font-size:38px;
	color:#eaeaea;
	padding:0px;
}

#pdiv{
	width:100%;
	height:auto;
	padding:1px;
	background-color:#4B4B4B;
}
p {
  font-family: 'Rajdhani', sans-serif;
  font-size:16px;
  color:#f6f6f6;

}
