body {
  margin:0 auto;
  padding:0px;
}

#fb {
  display: block;
  width:auto;
  height: auto;
  margin-bottom:50px;
}

h1{
	display:block;
	width:auto;
	height:auto;
	padding:20px;
	margin-bottom:50px;
	font-family: 'Shadows Into Light', cursive;
	font-size:32px;
}
p {
  display: block;
  width: auto;
  height:auto;
  padding: 10px;
  font-family: 'Rajdhani', sans-serif;
  font-size:12px;
}
